.markdown{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;


     border: 5px solid white;

    padding: 0;
    margin: 0;
} 

#app > h1{
    color: yellow;
}

#app > h1 > span{
    color: green;
}


@media screen and (max-width: 1200px) {
    .markdown{
        flex-direction: column;
        width: 90vw;
        height: 90vh;
    } 

    #preview{
        width: 100%;
        border-top: .4vh solid rgb(0, 0, 0);
        padding: 0;
    }

    #editor{
    width: 100%;
    }


}
